@model Shopify.Web.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    bool showModal = TempData["ModalMessage"] != null && TempData["ModalTitle"] != null && TempData["ModalType"] != null;
}
@section Scripts {
    @if (showModal)
    {
        <script>
            openModal('@TempData["ModalType"]','@TempData["ModalTitle"]','@TempData["ModalMessage"]');
        </script>
    }
}

<section class="h-screen w-screen flex flex-col gap-2 items-center justify-center bg-gray-100">
    <div class="flex items-center justify-center gap-3 mb-4">
        <img alt="Store" src="/images/store.png" class="size-10" />
        <p class="poppins font-semibold text-2xl">Shopi<span class="ml-0.5 text-emerald-500 font-bold text-2xl">fy.</span></p>
    </div>
    <div class="p-5 bg-white w-[380px] rounded-[4px] border border-gray-300">
        <h1 class="font-semibold text-center text-xl">🔐Set New Password</h1>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="pt-3 ml-1 text-[12px] text-red-500 font-medium text-center">@Model.ErrorMessage</p>
        }
        <div class="mt-4 px-2">
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" name="Email" value="@TempData["UserResetEmail"]" />
                <div class="flex flex-col">
                    <div class="flex items-center border border-gray-200 rounded-sm gap-1 px-0.5">
                        <span>🗝️</span>
                        <input type="password" asp-for="NewPassword" autocomplete="off" autofocus="true" placeholder="Enter your new password" class="outline-none border-none text-sm py-2 w-full" />
                    </div>
                    <span class="py-1 ml-1 text-[12px] text-red-500 font-medium" asp-validation-for="NewPassword"></span>
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center border border-gray-200 rounded-sm gap-1 px-0.5">
                        <span>🗝️</span>
                        <input type="password" asp-for="ConfirmPassword" autocomplete="off" placeholder="Confirm your password" class="outline-none border-none text-sm py-2 w-full" />
                    </div>
                    <span class="py-1 ml-1 text-[12px] text-red-500 font-medium" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="mt-2">
                    <button type="submit" class="font-medium w-full bg-emerald-500 p-1 py-2 rounded-sm cursor-pointer hover:bg-emerald-400 transition text-white flex items-center justify-center gap-3">
                        <i class="ph ph-swap text-lg"></i>
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>